@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.teams-page {
    &__hero {
    }
    .position-category {
        border-bottom: black solid 2px;

        &__section-header {
            padding: 0px 80px;
            font-size: 2rem;

            height: 48px;
            font-weight: 700;
        }
    }
}
