# Used for setting up editor config
# allows for universal editor settings across teams
root = true

[*]
cjarset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,json,html,svg,css,scss}]
indent_size = 4
indent_style = space
max_line_length = 80
