@use "./variables" as *;
@use "./mixins" as *;

@include blank-slate-styling;

@font-face {
    font-family: 'Switzer';
    src: url('/src/assets/fonts/Switzer-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Switzer';
    src: url('/src/assets/fonts/Switzer-Bold.otf') format('opentype');
    font-weight: 700;
}

body{
    font-family: 'Switzer';
    @extend .body-copy;
    color: $color-text-dark;
}


    /* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}