$color-black: #161616;
$color-red: #6c1f1b;
$color-light-red: #9a3a2e;
$color-dark-red: #411614;
$color-attention: #fdad15;
$color-eggshell: #f2f2ea;
$color-secondary-mercury: #e1e1e1;
$color-text-light: white;
$color-text-dark: black;
$color-light-shade: #f2f2ea;
$color-light-accent: #f2f2ea;
$color-light-primary: #f2f2ea;
$color-dark-primary: #99291e;
$color-dark-accent: #661c14;
$color-dark-shade: #161616;
$color-error: #e41717;
$color-link: #008cff;

$color-red-venetian: #cd0d0dff;
$color-red-thunderbird: #d32c32ff;
$color-red-grapefruit: #f22d2dff;
$color-red-peach: #ea4046ff;
$color-gscale-cinder: #151515ff;
$color-gscale-dark-jungle: #212223ff;
$color-gscale-davy: #53565aff;
$color-gscale-gunsmoke: #82858eff;
$color-gscale-dusty: #cfbbbbff;
$color-gscale-amour: #e1e1e1;
$color-gscale-white: #ffffffff;
