@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.player-table{
    display: flex;
    flex-direction: column;
    width: 80vw;
    

    &__headers{
        display: flex;
        
        width: 100%;
        justify-content: space-between;
        background-color: $color-gscale-dark-jungle;
        color: $color-text-light;

        .table-header{
            width: 100px;
            text-align: center;
        }
    }

    &__table-rows{
        display: flex;
    }
}